# Convert a tsv dataframe to json for ajax input to DataTables

In [1]:
import pandas
import json

In [2]:
df = pandas.read_table('data/pubmed-since-2014-summary.tsv')
df.head()

,journal,journal_abbrev,articles,publication_days_mean,publication_days_median,publication_days_max,publication_days_min,acceptance_days_mean,acceptance_days_median,acceptance_days_max,acceptance_days_min
0,AAPS PharmSciTech,AAPS PharmSciTech,282,32.968085,27.0,210,8,116.404255,108,447,1
1,ACS macro letters,ACS Macro Lett,17,6.294118,5.0,22,1,54.470588,44,105,8
2,ACS medicinal chemistry letters,ACS Med Chem Lett,59,6.915254,5.0,62,1,65.203390,57,150,6
3,AIDS research and therapy,AIDS Res Ther,60,18.416667,13.5,65,3,139.433333,136,336,23
4,AIDS research and treatment,AIDS Res Treat,41,29.585366,26.0,66,7,116.292683,111,226,32

In [21]:
columns = ['journal', 'articles', 'acceptance_days_median', 'publication_days_median']
converters = [str, int, float, float]
rows = [[fxn(x) for x, fxn in zip(row, converters)] for i, row in df[columns].iterrows()]
datatables_format = {'data': rows}
with open('data/journal-times.json', 'w') as write_file:
    json.dump(datatables_format, write_file, indent=2)